html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 5px solid red;
  width: 500px;
  height: 500px;
}

.grid {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}



