* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #042c35;
}

.container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #10aacc;
}

.grid {
  border: 1px solid black;
  flex: 1 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 30px;
}

.titleContainer {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.title {
  font-size: 56px;
  font-weight: bolder;
  font-style: italic;
  color: #11c7ef;
  text-shadow: -1px 0 teal, 0 1px teal, 1px 0 white, 0 -1px white;
}

.clearButton {
  cursor: pointer;
  padding: 8px;
  background-color: #0062ff;
  border: 2px solid teal;
  color: #11e4ef;
  font-style: oblique;
  font-weight: bold;
  font-size: large;
}

.gridButton {
  cursor: pointer;
  padding: 8px;
  background-color: #0062ff;
  border: 2px solid teal;
  color: #11e4ef;
  font-style: oblique;
  font-weight: bold;
  font-size: large;
}





